{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Andrés Chávez Abbadie</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo architecto incidunt dolores provident magni quas corporis cumque voluptatibus minima, dignissimos, ad facilis illo nihil corrupti aut odit, sit error non.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/pp.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer}}